{% extends "blog/base.html" %}
{% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <h1>Add A New Marker</h1>
    <hr>

    <form method='POST'>
        <p class="font-weight-bold">Write down the address in where you want to add the new marker. </p>
        {% csrf_token %}
            {{ form }}
            <input type="submit" value="Upload" />
    </form>

    <div id='map' style='width: 100%; height: 400px;'></div>

    <script>
    mapboxgl.accessToken = '{{ mapbox_access_token }}';
    var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [ -67.14581792876317, 18.201602792113185], // starting position [lng, lat]
        zoom: 0 // starting zoom
    });

    map.addControl(
        new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
        })
    );

    map.addControl(new mapboxgl.FullscreenControl());

    map.on('load', () => {
          // Insert the layer beneath any symbol layer.
          const layers = map.getStyle().layers;
          const labelLayerId = layers.find(
              (layer) => layer.type === 'symbol' && layer.layout['text-field']
          ).id;

          // The 'building' layer in the Mapbox Streets
          // vector tileset contains building height data
          // from OpenStreetMap.
          map.addLayer(
              {
                  'id': 'add-3d-buildings',
                  'source': 'composite',
                  'source-layer': 'building',
                  'filter': ['==', 'extrude', 'true'],
                  'type': 'fill-extrusion',
                  'minzoom': 15,
                  'paint': {
                      'fill-extrusion-color': '#aaa',

                      // Use an 'interpolate' expression to
                      // add a smooth transition effect to
                      // the buildings as the user zooms in.
                      'fill-extrusion-height': [
                          'interpolate',
                          ['linear'],
                          ['zoom'],
                          15,
                          0,
                          15.05,
                          ['get', 'height']
                      ],
                      'fill-extrusion-base': [
                          'interpolate',
                          ['linear'],
                          ['zoom'],
                          15,
                          0,
                          15.05,
                          ['get', 'min_height']
                      ],
                      'fill-extrusion-opacity': 0.6
                  }
              },
              labelLayerId
          );
      });

    {% for address in addresses %}                                                      <!--THIS WORKS. DONT WORRY ABOUT THE ERROR THAT ITS GIVING YOU!-->
        {% if address.author == request.user %}
            var marker = new mapboxgl.Marker()                                                  
                .setLngLat([{{ address.long }}, {{ address.lat }}])                           
                .setPopup(new mapboxgl.Popup().setHTML("<p>{{ address.address }}</p>"))         
                .addTo(map);
        {% endif %}                                                                 
    {% endfor %}
    
    </script>
    
    <div class = "text-center">
        <a href="{% url 'delete-address' %}" class="btn btn-danger"> Delete All Markers</a>
    </div> 
    
    <h3>Your Markers:</h3>

    <ol>
        {% for address in addresses %}
            {% if address.author == request.user %}
            <li class="font-italic">{{address}}</li>            
            {% endif %}
        {% endfor %}
    </ol>

{% endblock content %}